* {
  padding: 5px;
  margin: 0;
  box-sizing: border-box;
}
html {
  scroll-behavior: smooth;
}
.nav {
  background-color: rgba(52, 152, 219, 0);
  color: black;
  padding: 5px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  opacity: inherit;
  background-image: src= "images/";
  font-weight: bolder;
}
.menu-bar {
  display: none;
}
.nav-photo {
  padding: 0;
  height: 5vh;
  width: 15vh;
  border-radius: 10%;
}
.box-image {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 100px;
  width: 100px;
  border-radius: 50%;
  overflow: hidden;
}

.right-nav {
  padding-top: 5px;
  display: flex;
  flex-direction: row;
  width: 30%;
  text-decoration: none;
  gap: 3px;
}
.right-nav a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
  font-size: 15px;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-style: italic;
  text-shadow: 2px 2px 5px #4c66af;
}
.right-nav a:hover {
  text-decoration: none;
  color: rgb(7, 132, 182);
  font-weight: bold;
}

body {
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

  opacity: 0.8;
}
#page-1 {
  padding: 0;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 100vh;
  animation: slideshow 20s infinite;
}

.section-2 {
  padding-top: 100px;
}

@keyframes slideshow {
  0%,
  100% {
    background-image: url("images/1.jpg");
  }
  50% {
    background-image: url("images/3.jpg");
  }
}

.heading {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 50px;
  color: whitesmoke;
  text-shadow: 2px 2px 5px #4c66af;
}
.discri {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  height: 40vh;
  margin: 0;
}
.discription {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 30px;
  width: auto;
  color: rgb(1, 99, 138);
  box-shadow: #4caf50;
  border-radius: 5px;
  background-color: rgb(240, 248, 255);
  width: 50%;
}

.textbox-container {
  text-align: center;
  display: flex;
  flex-direction: row;
}
.Enter-button {
  background-color: #4caf50;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
  height: 50px;
}
label {
  font-size: 18px;
  margin-bottom: 8px;
  display: block;
}
.locations {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 15px;
  width: auto;
  color: rgb(1, 99, 138);
  width: 30%;
}

select {
  width: 30%;
  padding: 12px;
  margin-bottom: 16px;
  box-sizing: border-box;
  border: 1px solid #ddd;
  border-radius: 5px;
  background-color: #fff;
  font-size: 16px;
  color: #333;
}

select:hover,
select:focus {
  border-color: #007bff;
  outline: none;
}

select option {
  background-color: #fff;
  color: #333;
}

select option:hover,
select option:focus {
  background-color: #007bff;
  color: #fff;
}

h1 {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 30px;
  color: #4c66af;
  text-shadow: 2px 2px 5px #4c66af;
}
.paragraph {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bold;
  font-style: italic;
  font-size: 20px;
  color: #4c66af;
  box-shadow: #4caf50;
  border-radius: 5px;

  width: 80%;
}
.about-us {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  height: 20vh;
  box-shadow: #4caf50;
  border-radius: 20px;
  background-color: whitesmoke;
  width: 80%;
  margin: 0 auto;
  color: #4c66af;
}
.container {
  padding-top: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  background-color: #439946c0;
  gap: 10px;
  align-items: center;
  padding-left: 5px;
  border-radius: 50px;
}
.section {
  padding: 10px;
  display: flex;
  flex-direction: column;
  gap: 40px;
  background-color: #ccd9e2;
  border-radius: 50px;
}
.heading1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
  color: #4c66af;
}

.workers {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 5px;
  align-items: center;
  padding-left: 5px;
}

.workers > div {
  padding: 10px;
  border-radius: 25px;
  opacity: 0;
  transform: translateY(20px);
  animation: bounceIn 1.5s cubic-bezier(0.68, -0.55, 0.27, 1.55) forwards;
}

@keyframes bounceIn {
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.workers > div:hover {
  background-color: #4caf50;
  transform: scale(1.05);
  transition: background-color 0.3s, transform 0.3s;
  cursor: pointer;
}

.CHW-info {
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 10px;
  color: black;
  border-radius: 40px;
  color: rgb(240, 248, 255);
  width: 100%;
  box-shadow: 0 0 10px rgba(0, 0, 0, 2);
}

h2 {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: Georgia, "Times New Roman", Times, serif;
  font-weight: bolder;
  font-style: italic;
  font-size: 30px;
  color: #2748a1;
  text-shadow: 2px 2px 5px #4c66af;
}
.grids {
  margin-top: 20px;
  border-radius: 50px;
}
.worker-info {
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-size: medium;
  font-weight: bold;
  color: black;
}

.video-section {
  background-color: #f4f4f4;
  padding: 20px;
  margin-bottom: 20px;
  margin-top: 20px;
}

.video-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  border-radius: 30px;
}

.video {
  position: relative;
}

.video iframe {
  width: 100%;
  height: 100%;
}

.video-description {
  margin-top: 50px;
  font-size: 16px;
  color: #333;
}
.emergency-contacts {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  box-shadow: #4caf50;
  border-radius: 20px;
  background-color: #116466;
  width: 80%;
  margin: 0 auto;
  color: white !important;
}
.emergency-info {
  color: whitesmoke;
}
.button {
  background-color: #285185;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  margin: 4px 2px;
  cursor: pointer;
}
.form-container {
  max-width: 400px;
  margin: 50px auto;
  padding: 20px;
  background-color: #f4f4f4;
  border: 1px solid #ddd;
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 50%;
}

form {
  display: grid;
  gap: 10px;
  width: 50%;
  z-index: 1;
}

label {
  font-weight: bold;
}

input,
textarea {
  width: 100%;
  padding: 10px;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
  margin-bottom: 10px;
  width: 100%;
}

textarea {
  resize: both;
}

input[type="submit"] {
  background-color: #4caf50;
  color: white;
  cursor: pointer;
  padding: 10px;
  border: none;
  border-radius: 4px;
  width: 70px;
}

input[type="submit"]:hover {
  background-color: #45a049;
  width: 30px;
}
footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: #116466;
  color: white;
  padding: 10px;
  margin-top: 20px;
  border-radius: 20px;
}
.form {
  color: black;
}
.photo {
  padding: 0;
  height: 4vh;
  width: 5vh;
}

.footer-container {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  background-image: url(images/ministry\ of\ healtyh.PNG);
  position: relative;
}

/* Media Queries */
.menu-bar {
  display: flex;
  flex-direction: flex-end;
  justify-content: space-between;
  display: none;
}

.nav-photo {
  cursor: pointer;
}

.nav-links {
  display: none;
  flex-direction: column;
}

.nav-links a {
  text-decoration: none;
  color: white;
  padding: 5px;
  text-align: center;
  font-size: medium;
}
#footer-button{
  background-color: #285185;
  border: none;
  color: white;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  border-radius: 12px;
  margin: 4px 2px;
  cursor: pointer;
  width: 80px;
  height: 50px;
  
}#footer-button:hover {
  background-color: #45a049;
  width: 80px;
}
.socials{
  font-size: large;
  font-weight: bolder;
  color: black;
  text-decoration: none;
}
@media only screen and (max-width: 1024px) {
  .right-nav {
    display: none;
    padding-right: 0;
  }

  .menu-bar {
    display: flex;
    flex-direction: row; 
    justify-content: space-between;
  }
  
  .nav-photo {
    cursor: pointer;
    width: 5vh;
    height: 5vh;
  }
  .container {
    padding-top: 5px;
    display: grid;

    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(3, auto);
  }

  .heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    color: rgb(1, 99, 138);
  }
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;
  }
  .paragraph {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #4c66af;
    box-shadow: #4caf50;
    border-radius: 5px;
    width: 80%;
    opacity: 0.5;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    height: 20vh;
    box-shadow: #4caf50;
    border-radius: 20px;
    background-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    color: #4c66af;
  }

  .section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(12, 56, 73);
  }
  .discri {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 45vh;
    margin: 0;
  }
  .discription {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    width: auto;
    color: rgb(1, 99, 138);
    box-shadow: #4caf50;
    border-radius: 5px;
    background-color: aliceblue;
    width: 80%;
  }
  .textbox-container {
    display: flex;
    flex-direction:row;
    justify-content: center;
    align-items: center;
    height: 10rem;
  }

  input[type="text"] {
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid rgb(1, 99, 138);
    border-radius: 8px;
    outline: none;
  }

  input[type="text"]:focus {
    border-color: #4caf50;
  }
  .CHW-info {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 10px;
    color: black !;
    box-shadow: #4caf50;
    border-radius: 40px;
    color: rgb(240, 248, 255);
    width: 80%;
  }
}

@media only screen and (max-width: 768px) {
  body {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
  }
  .menu-bar {
    display: block;
    padding: 0;
  }
  .nav-photo {
    cursor: pointer;
    width: 3vh;
    height: 5vh;
  }

  .discri {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 45vh;
    margin: 0;
  }
  .discription {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    width: auto;
    color: rgb(1, 99, 138);
    box-shadow: #4caf50;
    border-radius: 5px;
    background-color: aliceblue;
    width: 80%;
    margin-bottom: 140px;
  }
  .textbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
  }

  input[type="text"] {
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid rgb(1, 99, 138);
    border-radius: 8px;
    outline: none;
  }

  input[type="text"]:focus {
    border-color: #4caf50;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    height: 20vh;
    box-shadow: #4caf50;
    border-radius: 20px;
    background-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    color: #4c66af;
  }
  .container {
    padding-top: 10px;
  }
  .section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(12, 56, 73);
    width: fit-content;
  }
  .heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    color: rgb(1, 99, 138);
  }
  .paragraph {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #4c66af;
    box-shadow: #4caf50;
    border-radius: 5px;
    width: 80%;
    opacity: 0.5;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    height: 20vh;
    box-shadow: #4caf50;
    border-radius: 20px;
    background-color: whitesmoke;
    width: fit-content;
    margin: 0 auto;
    font-size: larger;
    color: #4c66af; 
  }
  .workers {
    display: flex;
    flex-direction: column;
    gap: 10px;
    align-items: center;
    padding-left: 5px;
  }
  .workers > div {
    background-color: aliceblue;
    padding: 10px;
    border-radius: 25px;
  }
  h2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    color: #2748a1;
    text-shadow: 2px 2px 5px #4c66af;
  }
  .grids {
    margin-top: 20px;

    border-radius: 50px;
  }
  .worker-info {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: medium;
    font-weight: bold;
    color:black;
  }
  .video-section {
    background-color: #f4f4f4;
    padding: 20px;
    margin-bottom: 20px;
    margin-top: 20px;
  }

  .video-container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    border-radius: 30px;
  }

  .video {
    position: relative;
  }

  .video iframe {
    width: 100%;
    height: 100%;
  }

  .video-description {
    margin-top: 50px;
    font-size: 16px;
    color: #333;
  }
  .emergency-contacts {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    box-shadow: #4caf50;
    border-radius: 20px;
    background-color: #116466;
    width: 80%;
    margin: 0 auto;
    color: white !important;
  }
  .emergency-info {
    color: whitesmoke;
  }
  .button {
    background-color: #285185;
    border: none;
    color: white;
  }
  .form-container {
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    background-color: #f4f4f4;
    border: 1px solid #ddd;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    width: 50%;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    height: 35vh;
    box-shadow: #4caf50;
    border-radius: 20px;
    background-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    color: #4c66af;
  }

  .nav-links {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    font-size: small;
  }
}
/* Extra small screens (smaller phones) */
@media only screen and (max-width: 480px) {
  .discri {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0;
    height: 40vh;
    margin: 0;
  }
  .nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding: 0 !important;
  }
  .nav-photo {
    padding: 0px !important;
    height: 3vh;
    width: 5vh;
  }
  .discription {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 20px;
    width: auto;
    color: rgb(1, 99, 138);
    box-shadow: #4caf50;
    border-radius: 5px;
    background-color: aliceblue;
    width: 80%;
    opacity: 0.5;
  }
  .textbox-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 10rem;
  }

  input[type="text"] {
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
    font-size: 18px;
    border: 2px solid rgb(1, 99, 138);
    border-radius: 8px;
    outline: none;
  }

  input[type="text"]:focus {
    border-color: #4caf50;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    height: 20vh;
    box-shadow: #4caf50;
    border-radius: 20px;
    background-color: whitesmoke;
    width: 80%;
    margin: 0 auto;
    color: #4c66af;
  }

  .container {
    padding-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .section {
    padding: 0px;
    display: flex;
    flex-direction: column;
    gap: 40px;
    background-color: rgb(12, 56, 73);
  }
  .heading {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bolder;
    font-style: italic;
    font-size: 30px;
    color: rgb(1, 99, 138);
  }
  .paragraph {
    font-family: Georgia, "Times New Roman", Times, serif;
    font-weight: bold;
    font-style: italic;
    font-size: 20px;
    color: #4c66af;
    box-shadow: #4caf50;
    border-radius: 5px;
    width: 80%;
    opacity: 0.5;
  }
  .footer-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 100%;
  }
  .about-us {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-left: 5px;
    height: 40vh;
    box-shadow: #4caf50;
    border-radius: 20px;
    background-color: whitesmoke;
    width: fit-content;
    margin: 0 auto;
    font-size: larger;
    color: #4c66af;
  }
}

.contact-us {
  z-index: 1;
}

.footer-shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #0000008c;
  z-index: 0;
}
