*{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
 }
body {
    font-family: 'Kanit', sans-serif;
    font-family: 'Libre Franklin', sans-serif;
    font-family: 'REM', sans-serif;
    font-family: 'Rubik', sans-serif;
    background-color: white;
    margin: 0;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }

  .login-container {
    text-align: center;
    background-color: #fff;
    padding: 20px;
    border: b;
    border-radius: 10px;
    box-shadow: 0 0 10px #007bff;
  }

  label {
    display: block;
    margin-bottom: 8px;
  }

  input, select {
    width: 100%;
    padding: 10px;
    margin-bottom: 16px;
    box-sizing: border-box;
  }

  button {
    background-color: #007bff;
    color: #fff;
    padding: 12px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }

  button:hover {
    background-color: #00b336;
  }
  .platform-header {
    font-size: 35px;
    font-weight: bold;
    color: #007bff;
    text-shadow: 2px 2px 5px #4c66af;
    position: relative;
    padding-bottom: 2px !important;
    
  }
  

 

  .platform-subtitle {
    margin-left: 0.5em;
    color: #999;
  }
